*{
  margin: 10px 5px;
  font-family: 'Roboto Slab', serif;
}

body{
  background-color: #ffffe6;
}

img {
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}

h3{
  text-align: center;
}

button:hover {
  cursor: pointer;
  border: 1px solid black;
}

.addbutton:hover {
  cursor: pointer;
  border: 1px solid black;
}

#company, #position, #positionURL, #notes {
  background: white;
}

.addForm {
  /* width: 1207px; */
  margin: 10px auto;
}

.job {
  border: 1px solid black;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px grey;
}

.job:hover{
  background-color: #ddd;
  box-shadow: 10px 5px 5px grey;
  color: #735066;
  font-weight: bolder;
  transform: translateY(-0.7em);
}

.box {
  /* border: 1px solid black; */
  /* background: black; */

}

.column-listings, .column-applied, .column-interview, .column-tryagain{
  flex-basis: 25%;
}

.box-container {
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.more {
  border: 1px solid black;
}
