*{
  margin: 10px 5px;
  font-family: 'Roboto Slab', serif;
}

body{
  /* background-color: #ffffe6; */
  background: url("calendar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}

h3{
  text-align: center;

}

button:hover {
  cursor: pointer;
  border: 1px solid black;
}

.addbutton:hover {
  cursor: pointer;
  border: 1px solid black;
}

#company, #position, #positionURL, #notes {
  background: white;
}

.addForm {
  /* width: 1207px; */
  margin: 10px auto;
}

.job {
  border: 1px solid black;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px grey;
  background-color: #ddd;
  opacity: 0.8;

}

.job:hover{

  box-shadow: 10px 5px 5px grey;
  color: #735066;
  font-weight: bolder;
  transform: translateY(-0.7em);
}

.box {
  /* border: 1px solid black; */
  /* background: black; */

}

.column-listings, .column-applied, .column-interview, .column-tryagain{
  flex-basis: 25%;
}

.box-container {
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  border-top: 2px solid black;
}

.more {
  border: 1px solid black;
}

.modal{
    background-color: rgba(240, 168, 187,0.8);
    background-color: lightgrey;
    border-radius: 10px;
    position: absolute;
    top: 300px;
    left: 300px;
    margin: 0 auto;
    height: 300px;
    width: 300px;
    z-index: 1;
}

textarea{
  margin-top: 0;
}
